<!doctype html>
<html lang="en">
<body>

<head>
  <style type="text/css">
    .custom {
      font-family: Avenir-Next;
    }
  </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<div class="card" style="font-family: Avenir-Next; width: 18rem;display:flex;justify-content:center;align-items:center;">

  <div *ngIf="image" class="products && card-body">
  	  <img class="card-img-top" src={{image}} alt="Card image cap">

  	<h2 class="card-title">{{site.name | uppercase}}</h2>
    <h2 class="card-title" style="color: rgba(198.0, 198.0, 198.0, 1);">{{site.country}}</h2>

  	<div class="card-text">{{site.description}}</div>
  </div>

  <div class="card-body" *ngIf="applink" [style.background-image]="image">
<!--     <a href="https://testflight.apple.com/join/m8FhAgDg" align="center" class="btn btn-primary">Find more sites, get the app</a>
 -->
     <a [href]=applink align="center" class="btn btn-primary">Find more sites in the app</a>

  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>